
.dark-mode {
  background-color: #333;
  color: #fff;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: black;
}

label,
input,
textarea,
button {
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 20px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  padding-top: 40px; 
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 100%;
  max-width: 800px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
  overflow: hidden; 
}

.box-content {
  white-space: normal; 
  color: black;
}

img {
  max-width: 300px; 
  max-height: 300px; 
}

.darkButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgb(120, 3, 173);
}